<tbody>
  <% post.post_comments.each do |post_comment| %>
    <% if !post_comment.parent_id %>
      <tr>
      	<td>
      		<%= link_to user_path(post_comment.user) do %>
        		<%= attachment_image_tag post_comment.user, :profile_image, fallback: "no_image.png", size: "35x35" %><br>
        		<%= post_comment.user.name %>
      		<% end %>
      	</td>
      	<td><%= post_comment.comment %></td>
      	<td><%= link_to '返信', new_post_post_comment_path(post, parent_id: post_comment.id), remote: true, class: 'btn btn-secondary rounded-pill' %></td>
      	<% if current_user == post_comment.user %>
        	<td><%= link_to '削除', post_post_comment_path(post_comment.post_id, post_comment.id), class: 'btn btn-danger rounded-pill', method: :delete, remote: true %></td>
      	<% end %>
      </tr>
    <% end %>


    <% if post_comment.replies.any? %>
      <% post_comment.replies.each do |reply| %>
        <tr>
          <%= render partial: 'post_comments/reply', locals: { reply: reply } %>
        </tr>
      <% end %>
    <% end %>

    <div id="reply-form-<%= post_comment.id %>"></div>


  <% end %>
</tbody>
