<% post.post_comments.each do |post_comment| %>
  <% if !post_comment.parent_id %>
    <div class="card mt-3">
      <div class="row">
        <div class="col-md-2 ml-3 mr-0 my-3">
      	  <%= link_to user_path(post_comment.user) do %>
      	  	<%= attachment_image_tag post_comment.user, :profile_image, fallback: "no_image.png", size: "35x35" %><br>
          	<%= post_comment.user.name %>
      	  <% end %>
      	</div>
      	<div class="col-md-9">
      	  <div class="card-body">
      	    <p><%= post_comment.comment %></p>
      	    <%= link_to '返信', new_post_post_comment_path(post, parent_id: post_comment.id), remote: true %>
      	    <% if current_user == post_comment.user %>
              <%= link_to '削除', post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete, remote: true %>
      	    <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if post_comment.replies.any? %>
    <% post_comment.replies.each do |reply| %>
      <%= render partial: 'post_comments/reply', locals: { reply: reply } %>
    <% end %>
  <% end %>

  <div id="reply-form-<%= post_comment.id %>"></div>

<% end %>
