<div class="container">

  <div class="row">

    <div class="col-9 mt-5 d-flex align-content-start flex-wrap">
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 23) do %>
          <%= image_tag 'kinki/mie.jpg', size: "240x190" %>
          <p class="text-center">三重県(<%= Prefecture.find(23).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 24) do %>
          <%= image_tag 'kinki/siga.jpg', size: "240x190" %>
          <p class="text-center">滋賀県(<%= Prefecture.find(24).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 25) do %>
          <%= image_tag 'kinki/kyoto.jpg', size: "240x190" %>
          <p class="text-center">京都府(<%= Prefecture.find(25).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 26) do %>
          <%= image_tag 'kinki/osaka.jpg', size: "240x190" %>
          <p class="text-center">大阪府(<%= Prefecture.find(26).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 27) do %>
          <%= image_tag 'kinki/hyogo.jpg', size: "240x190" %>
          <p class="text-center">兵庫県(<%= Prefecture.find(27).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 28) do %>
          <%= image_tag 'kinki/nara.jpeg', size: "240x190" %>
          <p class="text-center">奈良県(<%= Prefecture.find(28).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 29) do %>
          <%= image_tag 'kinki/wakayama.jpg', size: "240x190" %>
          <p class="text-center">和歌山県(<%= Prefecture.find(29).posts.count %>件の投稿）</p>
        <% end %>
      </div>
    </div>

    <div class="col-3 mt-5">
      <%= render "users/sidebar", user:current_user %>
      </div>

  </div>

</div>

