<div class="container">

  <div class="row">

    <div class="col-9 mt-5 d-flex align-content-start flex-wrap">
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 14) do %>
          <%= image_tag 'chubu/niigata.jpg', size: "240x190" %>
          <p class="text-center">新潟県(<%= Prefecture.find(14).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 15) do %>
          <%= image_tag 'chubu/toyama.jpg', size: "240x190" %>
          <p class="text-center">富山県(<%= Prefecture.find(15).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 16) do %>
          <%= image_tag 'chubu/ishikawa.jpg', size: "240x190" %>
          <p class="text-center">石川県(<%= Prefecture.find(16).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 17) do %>
          <%= image_tag 'chubu/fukui.jpg', size: "240x190" %>
          <p class="text-center">福井県(<%= Prefecture.find(17).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 18) do %>
          <%= image_tag 'chubu/yamanashi.jpg', size: "240x190" %>
          <p class="text-center">山梨県(<%= Prefecture.find(18).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 19) do %>
          <%= image_tag 'chubu/nagano.jpg', size: "240x190" %>
          <p class="text-center">長野県(<%= Prefecture.find(19).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 20) do %>
          <%= image_tag 'chubu/gifu.jpg', size: "240x190" %>
          <p class="text-center">岐阜県(<%= Prefecture.find(20).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 21) do %>
          <%= image_tag 'chubu/shizuoka.jpg', size: "240x190" %>
          <p class="text-center">静岡県(<%= Prefecture.find(21).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 22) do %>
          <%= image_tag 'chubu/aichi.jpg', size: "240x190" %>
          <p class="text-center">愛知県(<%= Prefecture.find(22).posts.count %>件の投稿）</p>
        <% end %>
      </div>
    </div>

    <div class="col-3 mt-5">
      <%= render "users/sidebar", user:current_user %>
      </div>

  </div>

</div>

