<div class="container">

  <div class="row">

    <div class="col-9 mt-5 d-flex flex-wrap">
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 36) do %>
          <%= image_tag 'kagawa.jpeg', size: "190x190" %>
          <p class="text-center">香川県(<%= Prefecture.find(36).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 35) do %>
          <%= image_tag 'tokushima.jpeg', size: "190x190" %>
          <p class="text-center">徳島県(<%= Prefecture.find(35).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 37) do %>
          <%= image_tag 'ehime.jpeg', size: "190x190" %>
          <p class="text-center">愛媛県(<%= Prefecture.find(37).posts.count %>件の投稿）</p>
        <% end %>
      </div>
      <div class="mb-3 mr-2">
        <%= link_to posts_path(prefecture_id: 38) do %>
          <%= image_tag 'kouchi.jpeg', size: "190x190" %>
          <p class="text-center">高知県(<%= Prefecture.find(38).posts.count %>件の投稿）</p>
        <% end %>
      </div>
    </div>

    <div class="col-3 mt-5">
      <h2>User profile</h2>
      <%= render "users/sidebar" %>
      </div>

  </div>

</div>

