
<!--ユーザー詳細ページとユーザー編集ページで使用-->

<table class="table table-striped table-hover mt-4">
  <thead>
    <tr>
      <td><h3>Region</h3></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "北海道地方", "/region/hokkaido" %></td>
    </tr>
    <tr>
      <td><%= link_to "東北地方", "/region/tohoku" %></td>
    </tr>
    <tr>
      <td><%= link_to "関東地方", "/region/kanto" %></td>
    </tr>
    <tr>
      <td><%= link_to "中部地方", "/region/chubu" %></td>
    </tr>
    <tr>
      <td><%= link_to "近畿地方", "/region/kinki" %></td>
    </tr>
    <tr>
      <td><%= link_to "四国地方", "/region/shikoku" %></td>
    </tr>
    <tr>
      <td><%= link_to "九州地方", "/region/kyusyu" %></td>
    </tr>
    <tr>
      <td><%= link_to "沖縄地方", "/region/okinawa" %></td>
    </tr>
  </tbody>
</table>