<div class="container">

  <div class="row">

    <div class="col-9 mt-5">

      <h1 class="border-bottom border-danger">ユーザー情報</h1>

      <%= attachment_image_tag @user, :profile_image, class:"rounded-lg mt-4", fallback: "no_image.png", size: "200x200" %>

      <p class="mt-2">名前：<%= @user.name %></p>
      <p>住んでいる（いた）県：<%= @user.prefecture2.name %></p>
      <p>住んでみたい県：<%= @user.prefecture1.name %></p>

      <%= link_to "ユーザー情報を編集する", edit_user_path(@user), class: "btn btn-primary w-25 rounded-pill" %>

      <% if @posts %>
        <table class="table table-striped table-hover mt-4">
          <thead><h3 class="mt-5 border-bottom border-secondary">投稿(<%= @posts.count %>件)</h3></thead>
            <tbody>
          <% @posts.each do |post| %>
              <tr>
                <td>
                  <%= link_to post_path(post) do %>
                    <p class="text-dark">タイトル：<%= post.title %></p>
                  <% end %>
                </td>
                <td>
                  <%= link_to post_path(post) do %>
                    <p class="text-dark">場所：<%= post.prefecture.name %><%= post.city %></p>
                  <% end %>
                </td>
                <% if post.user == current_user %>
                  <td><%= link_to "編集", edit_post_path(post), class: "btn btn-success mr-0 rounded-pill" %></td>
                  <td><%= link_to "削除", post_path(post), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger mr-0 rounded-pill" %></td>
                <% end %>
              </tr>
          <% end %>
            </tbody>
        </table>
      <% else %>
        <p>まだ投稿はありません</p>
      <% end %>
    </div>

    <div class="col-3 mt-5">
      <%= render "users/sidebar2" %>
    </div>

  </div>
</div>