<div class="container">

  <div class="row">

    <div class="col-9 mt-5">

      <h1 class="border-bottom border-danger"><%= @prefecture.name %>(<%= @posts.count %>件の投稿)</h1>

      <h5 class="mt-3 mb-3">住んでいる人、住んだことがある人(<%= @residents.count %>人)</h5>
      <% if @residents.exists? %>
        <div class="d-flex flex-wrap">
          <% @residents.each do |resident| %>
            <div class="text-center mr-2">
              <%= attachment_image_tag resident, :profile_image, class:"rounded-lg", fallback: "no_image.png", size: "50x50" %><br />
              <p><%= resident.name %></p>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>まだいません</p>
      <% end %>

      <h5 class="mt-2 mb-3">住んでみたい人 (<%= @wannalivings.count %>人)</h5>
      <% if @wannalivings.exists? %>
        <div class="d-flex flex-wrap">
          <% @wannalivings.each do |wannaliving| %>
            <div class="text-center mr-2">
              <%= attachment_image_tag wannaliving, :profile_image, class:"rounded-lg", fallback: "no_image.png", size: "50x50" %><br>
              <p><%= wannaliving.name %></p>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>まだいません</p>
      <% end %>

      <h3 class="mt-5 border-bottom border-success">投稿</h3>
      <% if @posts.exists? %>

          <!--<div class="card-group">-->
            <div class="row row-cols-3">
              <% @posts.each do |post| %>
                <div class="col-4 mb-3" >
                  <div class="card" style="width: 16rem" >
                    <%= attachment_image_tag post, :image, class: "card-img-top", style: "width: 100%", fallback: "No_Picture.png" %>
                    <div class="card-body">
                      <h5 class="card-title"><%= post.title %></h5>
                      <div id="star-rate-<%= post.id %>">満足度：</div>
                      <script>
                      $('#star-rate-<%= post.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: <%= post.evaluation %>,
                      });
                      </script>
                      <p class="card-text mt-3">地域：<%= post.city %></p>
                      <p class="card-text mt-2"><%= post.body.truncate(20) %></p>
                      <%= link_to "この投稿を読む", post_path(post), class: "btn btn-primary rounded-pill" %>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted"><%= attachment_image_tag post.user, :profile_image, class:"rounded-lg", fallback: "no_image.png", size: "30x30" %><%= post.user.name %>さんによって<%= post.updated_at.strftime('%Y/%m/%d') %>に書かれました</small>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <!--</div>-->


      <% else %>
        <p>まだ投稿はありません</p>
      <% end %>
    </div>

    <div class="col-3 mt-5">
      <%= render "users/sidebar1", user:@user %>
    </div>

  </div>

</div>