<div class="container">
  <div class="row">
    <div class="col-9 mt-5">

      <%= render "posts/errors", obj:@post %>

        <%= form_with model:@post, local:true do |f| %>
          <div class="form-group">
            <%= f.label :タイトル %><span class="text-danger">(必須)</span><br />
            <%= f.text_field :title, class: "col-9 form-control", placeholder: "(例):〇〇に〇〇年間住んでいました！" %>
          </div>
          <div class="form-group">
            <%= f.label :どこに住んでますか？、又は住んでましたか？ %><span class="text-danger">(必須)</span><br />
            <%= f.text_field :city, class: "col-9 form-control", placeholder: "市町村名" %>
          </div>
          <div class="form-group">
            <%= f.label :画像 %><br />
            <%= f.attachment_field :image %>
          </div>

          <div class="form-group" id="star">
            <%= f.label :総合的な満足度 %><span class="text-danger">(必須)</span><br/>
            <%= f.hidden_field :evaluation, id: :review_star %>
          </div>

          <div class="form-group">
            <%= f.label :【生活面について】 %><br />
            <%= f.text_area :body, rows: 4, class: "col-9 form-control", placeholder: "食事、家賃、レジャー、土地柄など" %>
          </div>

          <div class="form-group">
            <%= f.label :【仕事面について】 %><br />
            <%= f.text_area :body1, rows: 4, class: "col-9 form-control", placeholder: "仕事の見つけやすさ、盛んな業種など" %>
          </div>

          <div class="form-group">
            <%= f.label :【人間関係面について】 %><br />
            <%= f.text_area :body2, rows: 4, class: "col-9 form-control", placeholder: "地域づきあいの濃密さなど" %>
          </div>

          <div class="form-group">
            <%= f.label :【その他】 %><br />
            <%= f.text_area :body3, rows: 4, class: "col-9 form-control", placeholder: "自由に書きましょう！" %>
          </div>

          <!--params[:prefecture_id]だとエラー後に消えてしまい困ったのでsessionを使っている-->
          <%= f.hidden_field :prefecture_id, value:session[:prefecture] %>

          <div class="actions">
            <%= f.submit '投稿',class: "btn btn-success" %>
          </div>
        <% end %>

        <%= link_to "#{@prefecture.name}の投稿一覧に戻る", posts_path(prefecture_id: @prefecture.id), class: "btn btn-success mt-3" %>


    </div>

    <div class="col-3 mt-5">
      <%= render partial: "users/sidebar1", locals: {user:@user, prefecture:@prefecture} %>
    </div>


  </div>

</div>

<script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[evaluation]',
    half: true,
  });
  </script>